*{
  padding:0;
  margin:0;
  font-family: 'helveticaa neue';
}
html,body{
height:100%;
width:100%;
}
body{
  background-color: black;
  color:aliceblue
}

.nav{
  padding:20px 10px;
  margin:10px;
  background-color: aqua;
  gap:10px;
}